@import "library";
@import "reset";

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 500px;
}

// Global tags

body {
    font-family: Helvetica;
    padding: 30px;
}

a {
    color: #800000;
}

// Everything else

.wrap {
    @extend %container;
}

h1 {
    font-size: 30px;
    margin-bottom: .5em;
}

button {
    background: white;
    border: 1px solid #888;
    border-radius: 5px;
    outline: none;
}
