@import "library";
@import "reset";

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 500px;
}

// Global tags

body {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 21px;
}

a {
    color: #800000;
}

// Everything else

form {
    @extend %container;
    padding: 1em 0 0;
}

fieldset {
    border: 1px dashed #aaa;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 10px 14px;
}

legend {
    padding: 0 .5em;
    font-weight: bold;
}

input {
    border: 1px solid #ccc;
    background: none;
    border-width: 0 0 1px;
    padding: .5em .8em;
    font-size: 14px;
    width: 75%;
    outline: none;
}

label {
    font-size: 12px;
    line-height: 20px;
    padding-top: 6px;
    width: 22%;
    display: inline-block;
}

p {
    margin-bottom: 1.2em;
}

b {
    font-weight: bold;
}

.blank {
    padding: 0 40px;
    border-bottom: 1px solid #999;
    margin: 0 2px;
}

.story {
    line-height: 24px;
    background:#f8f8f8;
    padding: 15px 18px;
    border-right: 5px;
    margin-bottom: 1em;
}

.cyan_class {
    background-color: cyan; 
}

.font_weight {
    font-weight: bold;
}


.hover_class {
    border-color: blue; 
    border-width: 1px; 
    border-style: solid;
}
